
    <div">
        <div class="container">
            <div class="featured-block">
                <br />
                <h2><i class="fa fa-th-list"></i> Korisnici</h2>
                <br />
                <br />
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dodajNovogKorisnika" ng-click="ucitajDodajNovog()">Add new</button>
                <br />


                <div class="row" data-ng-init="init()" >
                    <div class="col-md-3" ng-repeat="korisnik in korisnici">
                        <div class="block">
                            <div class="thumbnail">
                                <div class="caption">
                                    <i class="fa fa-female fa-5x" style="padding-left:38%" ng-show="korisnik.spol === 'zensko'"></i>
                                    <i class="fa fa-male fa-5x" style="padding-left:38%" ng-show="korisnik.spol === 'musko'"></i>
                                    <p>Ime: {{korisnik.osoba.ime}}</p>
                                    <p>Prezime: {{korisnik.osoba.prezime}}</p>
                                    <p>Godine: {{korisnik.godine}}</p>
                                    <p>Tezina: {{korisnik.tezina}}</p>
                                    <p>Visina: {{korisnik.visina}}</p>
                                    <p>Zeljena kilaza: {{korisnik.zeljenaKilaza}}</p>
                                    <p>Datum pristupa: {{korisnik.datumPristupa}}</p>
                                    <p>Bolest: {{korisnik.bolesti}}</p>
                                    <a class="btn" data-toggle="modal" data-target="#podaciOKorisniku" ng-click="selektuj(korisnik)">Uredi korisnika</a>
                                    <a class="btn" data-toggle="modal" data-target="#kreirajPlaniProgram" ng-click="planiprogram(korisnik)">Kreiraj plan i program</a>
                                    <a class="btn" data-toggle="modal" data-target="#kreirajPlanIshrane" ng-click="ishrana(korisnik)">Kreiraj plan ishrane</a>
                                    <a class="btn" data-toggle="modal" ng-click="izbrisi(korisnik)">Izbriši korisnika</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="ruler"></div>
        </div>

        <div id="podaciOKorisniku" class="modal fade" role="dialog">
            <div ng-include="'korisnici/podaciOKorisniku.html'"></div>
        </div>
        </div>
