
<div>
    <div class="container">
        <div class="featured-block">
            <br />
            <br />
            <br />

            <h2>
                <i class="fa fa-th-list"></i>

                Korisnici
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#dodajNovogKorisnika">Dodaj novog</button>
                <br />

            </h2>
            <br />
            <br />
            <br />


            <div class="row" data-ng-init="init()">

                <input type="text" class="form-control" ng-model="search.osoba.ime" placeholder="Pretraži po imenu">
                <br />

                <div class="col-md-3" ng-repeat="korisnik in korisnici | filter:search">
                    <div class="block">
                        <div class="thumbnail">
                            <div class="caption">
                                <i class="fa fa-female fa-5x" style="padding-left:38%" ng-show="korisnik.spol === 'zensko'"></i>
                                <i class="fa fa-male fa-5x" style="padding-left:38%" ng-show="korisnik.spol === 'musko'"></i>
                                <p>Ime: {{korisnik.osoba.ime}}</p>
                                <p>Prezime: {{korisnik.osoba.prezime}}</p>
                                <p>Godine: {{korisnik.godine}}</p>
                                <p>Tezina: {{korisnik.tezina}}</p>
                                <p>Visina: {{korisnik.visina}}</p>
                                <p>Zeljena kilaza: {{korisnik.zeljenaKilaza}}</p>
                                <p>Datum pristupa: {{korisnik.datumPristupa}}</p>
                                <p>Bolest: {{korisnik.bolesti}}</p>
                                <a class="btn btn-info btn-primary" data-toggle="modal" data-target="#podaciOKorisniku" ng-click="selektuj(korisnik)">Uredi korisnika</a>
                                <a class="btn btn-info btn-primary" data-toggle="modal" data-target="#planiprogram" ng-click="planiprogram(korisnik)">Kreiraj plan i program</a>
                                <a class="btn btn-info btn-primary" data-toggle="modal" data-target="#kreirajPlanIshrane" ng-click="ishranaFun(korisnik)">Kreiraj plan ishrane</a>
                                <a class="btn btn-info btn-primary" data-toggle="modal" ng-click="izbrisi(korisnik)">Izbriši korisnika</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <div class="ruler"></div>
    </div>
</div>

<div id="podaciOKorisniku" class="modal fade" role="dialog">
    <div ng-include="'korisnici/podaciOKorisniku.html'"></div>
</div>
<div id="dodajNovogKorisnika" class="modal fade" role="dialog">
    <div ng-include="'korisnici/dodajNovogKorisnika.html'"></div>
</div>
<div id="planiprogram" class="modal fade" role="dialog">
    <div ng-include="'korisnici/planiprogram.html'"></div>
</div>
<div id="kreirajPlanIshrane" class="modal fade" role="dialog">
    <div ng-include="'korisnici/kreirajPlanIshrane.html'"></div>
</div>
