<!DOCTYPE html>
<html ng-app="NutricionizamFitnes">
<head>
    <meta charset="utf-8" />
    <title>Nutricionizam</title>
    <base href="/">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap_simplex.css" S>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/jquery-3.1.0.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>

    <script src="app.js"></script>
    <script src="korisnici/korisniciCtrl.js"></script>
    <script src="treneri/treneriCtrl.js"></script>

    <script src="korisnici/korisniciServis.js"></script>
    <script src="treneri/treneriServis.js"></script>

</head>
<body>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Prijava</h2>
            </div><!--end modal header-->
            <div class="modal-body">
                <div class="container-fluid">
                    <ng-form class="panel-body">
                        <p>Korisničko ime: </p>
                        <input type="text" name="id" class="form-control" ng-model="korisnicko ime" placeholder="korisničko ime" />
                        <br />
                        <p>Lozinka: </p>
                        <input type="text" name="godine" class="form-control" ng-model="lozinka" placeholder="lozinka" />
                        <br />
                    </ng-form>
                </div>
            </div><!--end modal body-->
            <div class="modal-footer bg-info">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="login()">Prijavi se</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="registracija()">Registruj se</button>
            </div><!--end modal footer-->
        </div><!--end modal content-->
    </div><!--end modal dialog-->

</body>
</html>