<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-info">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Trener</h2>
        </div><!--end modal header-->
        <div class="modal-body">
            <div class="container-fluid">
                <ng-form class="panel-body">
                    <p>Spol: </p>
                    <input type="text" name="spol" class="form-control" ng-model="spol" placeholder="Spol" />
                    <br />
                    <p>Godine: </p>
                    <input type="text" name="godine" class="form-control" ng-model="godine" placeholder="Godine" />
                    <br />
                    <p>Edukacija: </p>
                    <input type="text" name="edukacija" class="form-control" ng-model="edukacija" placeholder="Edukacija" />
                    <br />
                    <p>Iskustvo </p>
                    <input type="text" name="iskustvo" class="form-control" ng-model="iskustvo" placeholder="Iskustvo" />
                    <br />
                    <br />
                    <p ng-model="message"></p>
                </ng-form>
            </div>
        </div><!--end modal body-->
        <div class="modal-footer bg-info">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dodajTrenera(spol, godine, edukacija, iskustvo)">Spremi</button>
            <button class="btn btn-default" data-dismiss="modal" ng-click="otkazi()">Odustani</button>
        </div><!--end modal footer-->
    </div><!--end modal content-->
</div><!--end modal dialog-->
