<div class="row">
    <table class="table table-hover" style="background-color:lightgray">
        <thead>
            <tr>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;Ime</th>
                <th>Prezime</th>
                <th>Korisničko ime</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody ng-repeat="o in listaOsoba">
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{o.ime}}
                </td>
                <td>
                    {{o.prezime}}
                </td>
                <td>
                    {{o.username}}
                </td>
                <td>
                    {{o.email}}
                </td>
                <td class="action-buttons">
                    <a class="btn" data-toggle="modal" data-target="#dodajTrenera" ng-click="selektuj(o)"><b>Odaberi</b></a>

                </td>
            </tr>
            
        </tbody>
    </table>
</div>

<div id="dodajTrenera" class="modal fade" role="dialog">
    <div ng-include="'treneri/dodajTrenera.html'"></div>
</div>

