<div class="row">
    <table class="table table-hover" style="background-color:lightgray">
        <thead>
            <tr>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;Ime</th>
                <th>Prezime</th>
                <th>Korisničko ime</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="o in listaOsoba">
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{o.ime}}
                </td>
                <td>
                    {{o.prezime}}
                </td>
                <td>
                    {{o.username}}
                </td>
                <td>
                    {{o.email}}
                </td>
                <td class="action-buttons">
                    <a class="btn" data-toggle="modal" data-target="#sveOsobe" ng-click="selektuj(o)"><b>Dodaj trenera</b></a>

                </td>
            </tr>
            
        </tbody>
    </table>
</div>


        <div class="modal-footer bg-info">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dodajTrenera()">Dodaj</button>
            <button class="btn btn-default" data-dismiss="modal" ng-click="otkazi()">Odustani</button>
        </div><!--end modal footer-->

