
<div>
    <div class="container">
        <div class="featured-block">
            <br />
            <br />
            <br />

            <h2>
                <i class="fa fa-th-list"></i>

                Treneri 
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#dodajNovogTrenera" data-ng-init="izlistajSveOsobe()" >Dodaj novog</button>
                <br />

            </h2>
            <br />
            <br />
            <br />


            <div class="row" data-ng-init="izlistajSveTrenere()">

               
                <div class="col-md-3" ng-repeat="korisnik in listaTrenera">
                    <div class="block">
                        <div class="thumbnail">
                            <div class="caption">
                                <i class="fa fa-female fa-5x" style="padding-left:38%" ng-show="korisnik.spol === 'zensko'"></i>
                                <i class="fa fa-male fa-5x" style="padding-left:38%" ng-show="korisnik.spol === 'musko'"></i>
                                <p>Ime: {{korisnik.osoba.ime}}</p>
                                <p>Prezime: {{korisnik.osoba.prezime}}</p>
                                <p>Godine: {{korisnik.godine}}</p>
                                <p>Edukacija: {{korisnik.edukacija}}</p>
                                <p>Iskustvo: {{korisnik.iskustvo}}</p>
                                <p>Broj klijenata: {{korisnik.brojKlijenata}}</p>
                                <a class="btn btn-info btn-primary" data-toggle="modal" data-target="#izmijenitrenera" ng-click="selektujTrenera(korisnik)">Uredi trenera</a>
                                <a class="btn btn-info btn-primary" ng-click="izbrisiTrenera(korisnik.id)">Izbrisi trenera</a>
                           </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <div class="ruler"></div>
    </div>
</div>

<div id="izmijenitrenera" class="modal fade" role="dialog">
    <div ng-include="'treneri/izmijeniTrenera.html'"></div>
</div>
<div id="dodajNovogTrenera" class="modal fade" role="dialog">
    <div ng-include="'treneri/dodajTrenera.html'"></div>
</div>