
<div">
    <div class="container">
        <div class="featured-block">
            <br />
            <br />
            <br />
            <h2><i class="fa fa-th-list"></i> Administratori 
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#dodajNovogKorisnika" ng-click="ucitajDodajNovog()">Dodaj novog</button>
            </h2>
            <br />
            <br />
            <br />
           
          

            <div class="row" data-ng-init="init()">
                <div class="col-md-3" ng-repeat="admin in administratori">
                    <div class="block">
                        <div class="thumbnail">
                            <div class="caption">
                                
                                <p>Ime: {{admin.osoba.ime}}</p>
                                <p>Prezime: {{admin.osoba.prezime}}</p>
                                <p>Username: {{admin.osoba.username }}</p>
                                <p>Email: {{admin.osoba.email }}</p>
                                <a class="btn" data-toggle="modal" ng-click="selektuj(admin)">Izbriši</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="ruler"></div>
    </div>

    
    </div>
